[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosmtplib = '~= 1.1.6'
docstring-parser = "~=0.7.3"
ldap3 = "~=2.9"
mailmanclient = '~=3.3.2'
markdown = '~=3.3'
typing_inspect = '~=0.6.0'

[dev-packages]
black = "~=21.9b0"
flake8 = "*"
flit = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
lint = """flake8 rbldap tests \
        --count \
        --exit-zero \
        --show-source \
        --statistics"""
format = """bash  -c "
        isort . --profile black &&\
        black ."
        """
tests = """pytest -ra \
         --doctest-modules \
         --junitxml=tests/results/test-results.xml \
         --cov=rbldap \
         --no-cov-on-fail \
         --cov-fail-under=80 \
         --cov-report=xml:tests/results/coverage.xml \
         --cov-report=html:tests/results/coverage \
         --cov-report=term \
         ."""
build = "flit build"
